@import "tailwindcss";

@theme {
  --color-bgWhite : #FFFFFF;
  --color-bgBlue : #F3F9FE;
  --color-accentBlue: #1384FB;
  --color-textDark: #31465C;
  --color-bgRed500: #fb2c36;
  --color-bgRed600: #d52a2f;
}

